//Sass allows us to have variables, so here we can define all of our variables here.
//In some cases it might be better to create variabled ins other files.

//BG Color.
$bg-color: #FFFFFF;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
